@charset "UTF-8";

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
}

body{
    font-family: 'S-CoreDream-3Light';
    color: #333;
    overflow-x: hidden;
}


.header{
    height: 100px;
}

.header .inner{
    width: 1600px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    line-height: 130px;
    font-size: 20px;
    margin: 0 auto;
}

.header .inner.on{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    justify-content: space-around;
    z-index: 999;
}

.header h1 a img{
    height: 130px;
    display: block;
}

.header .inner.on img{
    height: 100px;
}

.header h1 {
    z-index: 900;
}


.header .nav .gnb{
    display: flex;
    gap: 60px;
    align-items: center;
    height: 100%;
}

.header .icon_bar{
   display: flex;
   gap: 24px;
   align-items: center;
}

.header .icon_bar img{
    width: 21px;
    height: 21px;
    object-fit: contain;
    display: block;
}

/* 헤더 끝 */

.main_visual{
    position: relative;
}

.main_visual .slide_wrap{
    height: 100%;
}

.main_visual .slide_wrap .slide{
    display: none;
    height: 789.53px;
    
}

.main_visual .slide_wrap .slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.main_visual .slide_wrap .slide.active{
    display: block;
    
}


.main_visual .slide_wrap .slide .main_text{
    width: 1328px;
    height: 89.21px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-weight: 600;
    font-size: 22px;
    line-height: 89.21px;
    margin: 0 auto;
    position: relative;
    top: -50px;
    right: 0;
    background-color: #fff;
    border-radius: 5px;
    padding: 0 50px;
}

.main_visual .slide_btn{
    display: flex;
    justify-content: flex-end;
    gap: 8.11px;
    /* position: relative;
    top: -27px;
    left: 1485px; */
    position: absolute;
    bottom: -35px;
    right: 52%;
    width: 1328px;
    height: 89.21px;
    transform: translateX(50%);
    /* background-color: aquamarine; */
}

.main_visual .slide_btn button{
    border: none;
    outline: none;
    background-color: inherit ;
}


.main_visual .slide_btn img{
    width: 40px;
    height: 40px;
    object-fit: contain;
    display: block;
}


.x-mas{
    max-width: 1600px;
    width: calc(100% - 40px);
    margin: 179.79px auto;
}

.x-mas .title{
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 60px;
}

.x-mas .item_wrap{
    display: flex;
    gap: 31.57px;
    display: none;
    margin-bottom: 40px;
}

.x-mas .item_wrap.active02{
    display: flex;

}

.x-mas .item_wrap .item{
    width: 23.52%;
    height: 470px;
    position: relative;
}

.x-mas .item_wrap .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(0.8);
    transition: 0.7s;
}

.x-mas .item_wrap .item img:hover{
    filter: brightness(1);
}

.x-mas .item_wrap .item_text{
    position: absolute;
    top: 378.97px;
    left: 35.73px;
    color: #fff;
}

.x-mas .item_wrap .item_text p{
    font-size: 18px;
    margin-bottom: 5.05px;
}
.x-mas .item_wrap .item_text strong{
    font-size: 24px;
}




.x-mas .x-mas_btn button{
    width: 394px;
    height: 69.44px;
    border: 1px solid #333;
    border-radius: 50px;
    outline: none;
    background-color: inherit ;
    font-family: 'S-CoreDream-3Light';
    display: flex;
    line-height: 69.44px;
    justify-content: center;
    font-size: 18px;
    gap: 22px;
    margin: 0 auto;
    align-items: center;
    transition: 0.7s;
}


.x-mas .x-mas_btn button::before{
    content: '';
    background: url('../img/icon/Group2.png') center center / cover no-repeat;
    width: 18px;
    height: 18px;
    object-fit: contain;
}

.x-mas .x-mas_btn button strong{
    font-weight: 900;
    margin-right: 5px;
}

/* 크리스마스 끝 */

.now_busan{
    display: flex;
    margin-bottom: 240px;
}

.now_busan .now_box{
    background-color: #f5f5f5;
    width: 809px;
    height: 740px;
    padding-top: 130px; 
    padding-left: 161px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.now_busan .now_box .now_text h3{
    font-size: 60px;
    color: #000;
    font-weight: 900;
    margin-bottom: 20px;
    line-height: 1.1;
}

.now_busan .now_box .now_text p{
    font-size: 24px;
    color: #000;
}

.now_busan .now_box .box_btn{
    margin-bottom: 180px;
    display: flex;
    gap: 12px;
}


.now_busan .now_box .box_btn button{
    border: none;
    outline: none;
    background-color: inherit ;
}

.now_busan .now_box .box_btn img{
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.now_busan .now_slide_wrap {
    width: 1324px;
    height: 480px;
    margin-left: -240px;
    margin-top: 130px;
    display: flex;
    display: none;
}

.now_busan .now_slide_wrap.active03{
    display: flex;
    justify-content: space-between;
}

.now_busan .now_slide_wrap .now_slide{
    width: 31.72%;
    height: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.now_busan .now_slide_wrap .now_slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    transition: 0.7s;
}

.now_busan .now_slide_wrap .now_slide img:hover{
    transform: scale(1.1);
}

.now_busan .now_slide_wrap .now_slide .now_text{
    position: absolute;
    top: 371px;
    left: 35px;
    color: #fff;
    font-size: 24px;
    line-height: 37px;
    font-weight: bold;
}

/* 테마 시작 */

.theme{
    max-width: 1600px;
    width: calc(100% - 40px);
    margin: 0 auto;
}

.theme h4{
    font-size: 60px;
    line-height: 1;
    color: #000;
    margin-bottom: 60px;
    font-weight: bold;
}

.theme .menu {
    display: flex;
    gap: 28px;
    font-weight: 600;
    margin-bottom: 40px;
}

.theme .menu li{
    color: #00000023
    
}

.theme .menu li.active04{
    color: #E4007F;
}


.theme .theme_wrap{
    display: flex;
    justify-content: space-between;
    width: 100%;
    display: none;
}

.theme .theme_wrap.active04{
    display: flex;
}

.theme .theme_wrap .theme_item{
    width: 23.5%;
}

.theme .theme_wrap .theme_item img{
    width: 100%;
    height: 370px;
    object-fit: cover;
    display: block;
    margin-bottom: 20px;
}

.theme .theme_wrap .theme_item:first-child img{
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.theme .theme_wrap .theme_item:nth-child(2) img{
    border-top-left-radius: 50%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.theme .theme_wrap .theme_item:nth-child(3) img{
    border-top-left-radius: 10px;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.theme .theme_wrap .theme_item:nth-child(4) img{
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 10px;
}

.theme .theme_wrap .theme_item p{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 240px;
}







